<div id="container-chart" style="width:100%; height:400px; background-color: blue;"></div>
<div class="tweet-list-container" style="width:100%; height:400px; background-color: #EEE;">
	<ul class="tweet-list"></ul>
</div>
<button class="calculate"> Calculate </button>
<script>

	//Makes AJAX call for User Tweets
	function userTweets(userId) {
		var url = window.location.origin + "/users/" + userId + "/tweets.json";
		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			success: function(tweets){
				renderTweets(tweets);
			},
			error: function(){
				alert('AJAX call for User Tweets has failed');
			}
		});
	};

	// Appends tweets to the page
	function renderTweets(tweets){
		$(".tweet-list").empty();

		_.each(tweets, function(tweet, i){
			var tweet = tweet["text"]
			$(".tweet-list").append("<li>"+tweet+"</li>")
		});
	};

<% if user_signed_in? %>
userTweets(<%=current_user.id%>);
<% end %>

$(function () {

    var ranges = [
            [2015-02-26, 14.3, 27.7],
            [2015-02-27, 14.5, 27.8],
        
        ],
        averages = [
            [2015-02-26, 21.5],
            [2015-02-27, 22.1],
    
        ];


    $('#container-chart').highcharts({

        title: {
            text: 'July temperatures'
        },

        xAxis: {
            type: 'datetime'
        },

        yAxis: {
            title: {
                text: null
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: '°C'
        },

        legend: {
        },

        series: [{
            name: 'Temperature',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
});

</script>