		  		<div class="inner cover">
		    	<h1 class="cover-heading">Twitter Vibe</h1>
		 	</div>

			<div id="container-chart">
			</div>

			<!-- <a class="twitter-timeline" 
			href="https://twitter.com/Quant_LIfe" 
			data-widget-id="571770754627555328"
			>Tweets by @Quant_LIfe</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			-->
			</script>



		  	<div class="mastfoot">
		    	<div class="inner">
		      		<p> Twitter Vibe by Sung Kim </p>

		    	</div>
		  	</div>



<script>
//Makes AJAX call for User Tweets
function userTweets(userId) {
	var tweet_url = window.location.origin + "/users/" + userId + "/tweets.json";

	var points_url = window.location.origin + "/users/" + userId + "/scoreboards.json";


	$.ajax({
		type: "GET",
		url: tweet_url,
		dataType: "json",
		success: function(tweets){
			renderTweets(tweets);
			// getPoints();

		},
		error: function(){
			alert('AJAX call for User Tweets has failed');
		}
	});

	$.ajax({
		type: "GET",
		url: points_url,
		dataType: "json",
		success: function(points){
			graphTweets(points);

		},
		error: function(){
			alert('AJAX call for Points has failed');
		}
	});
};

// Appends tweets to the page
function renderTweets(tweets){
	$(".tweet-list").empty();

	_.each(tweets, function(tweet, i){
		var tweet = tweet["text"]
		$(".tweet-list").append("<li>"+tweet+"</li>")
	});
};
	var ranges = [];
	var averages = []; 

function graphTweets(points){
	

	_.each(points, function(point, i){
		var	datetime = parseInt(point["datetime"]);
		var minscore = parseInt(point["minscore"]);
		var maxscore = parseInt(point["maxscore"]);
		var avgscore = parseInt(point["avgscore"]);
		var newrange = []
		var newaverage = []
		newrange.push(datetime, minscore, maxscore)
		newaverage.push(datetime, avgscore)
		ranges.push(newrange)
		averages.push(newaverage)	
	})

    // console.log(averages)


    $('#container-chart').highcharts({

        title: {
            text: 'Your Tweet Vibes'
        },

        chart: {
        	borderRadius: 20,
        	// plotBackgroundColor: "#BAB3B2"
        },

        credits: {
        	enabled: false
        },

        xAxis: {
            type: 'datetime'
        },

        yAxis: {
            title: {
                text: 'Sentiment'
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: ''
        },

        legend: {
        },

        series: [{
            name: 'Average',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            color: "#66CD00",
            negativeColor: "#FF0000",
            lineWidth: 0,
            linkedTo: ':previous',
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
}

<% if user_signed_in? %>
userTweets(<%=current_user.id%>);
<% end %>
</script>










