>
		  		
			<div class="inner cover">
		    	<h1 class="cover-heading">Twitter Vibe</h1>
		 	</div>

			<div id="container-chart">
			</div>

		  	<div class="mastfoot">
		    	<div class="inner">
		      		<p> Twitter Vibe by Sung Kim </p>
		    	</div>
		  	</div>

		</div>
	</div>
</div>

<script>
//Makes AJAX call for User Tweets
function userTweets(userId) {
	var tweet_url = window.location.origin + "/users/" + userId + "/tweets.json";

	var points_url = window.location.origin + "/users/" + userId + "/scoreboards.json";


	$.ajax({
		type: "GET",
		url: tweet_url,
		dataType: "json",
		success: function(tweets){
			renderTweets(tweets);
			// getPoints();

		},
		error: function(){
			alert('AJAX call for User Tweets has failed');
		}
	});

	$.ajax({
		type: "GET",
		url: points_url,
		dataType: "json",
		success: function(points){
			graphTweets(points);

		},
		error: function(){
			alert('AJAX call for Points has failed');
		}
	});
};

// Appends tweets to the page
function renderTweets(tweets){
	$(".tweet-list").empty();

	_.each(tweets, function(tweet, i){
		var tweet = tweet["text"]
		$(".tweet-list").append("<li>"+tweet+"</li>")
	});
};
	var ranges = [];
	var averages = []; 

function graphTweets(points){
	

	_.each(points, function(point, i){
		var	datetime = parseInt(point["datetime"]);
		var minscore = parseInt(point["minscore"]);
		var maxscore = parseInt(point["maxscore"]);
		var avgscore = parseInt(point["avgscore"]);
		var newrange = []
		var newaverage = []
		newrange.push(datetime, minscore, maxscore)
		newaverage.push(datetime, avgscore)
		ranges.push(newrange)
		averages.push(newaverage)	
	})

    // console.log(averages)


    $('#container-chart').highcharts({

        title: {
            text: 'Your Tweet Vibes'
        },

        xAxis: {
            type: 'datetime'
        },

        yAxis: {
            title: {
                text: 'Sentiment'
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: ''
        },

        legend: {
        },

        series: [{
            name: 'Average',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
}

<% if user_signed_in? %>
userTweets(<%=current_user.id%>);
<% end %>
</script>










